<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened="true" >
    <mat-accordion>
        <a mat-button  style="text-align:center" title ="Home">
            <mat-icon [routerLink]="['home']">home</mat-icon>
          </a>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                BrainTrainer Project App
              </mat-panel-title>
              <mat-panel-description>
                Aplikacija za vođenje evidencije
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-button [routerLink]="['localgroup']">Local Groups and Members</a>
            </mat-nav-list>
               
              <mat-nav-list>
                  <a mat-button [routerLink]="['field']">Field</a>
                </mat-nav-list>
                <mat-nav-list>
                    <a mat-button [routerLink]="['event']">Event</a>
                  </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
         <mat-expansion-panel-header>
              <mat-panel-title>
                Additional Information
              </mat-panel-title>
              <mat-panel-description>
                Application Information
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-button [routerLink]="['about']">About</a>
            </mat-nav-list>
            <mat-nav-list>
              <a mat-button [routerLink]="['author']">Author</a>
            </mat-nav-list>
          </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
